.flex-vertical-middle{
  display: flex;
  align-items: center !important;
}
.flex-horizontal-middle{
  display: flex;
  justify-content: center !important;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}